body {
  background-color: lightgray !important;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  perspective: 1000px;
  position: relative;
}

//.menu {
//  background-color: black !important;
//}