menu
	menu-item(label="Cities", route="cities", icon="fa-tachometer", active="true")
	menu-item(label="About", route="about", icon="fa-location-arrow")
	menu-group(label="More", icon="fa-buysellads")
		menu-item(label="info", route="info", icon="fa-book")


.container-fluid
	framework(title="Weather app", subtitle="Demo or startup application!")
		.row
			.menu__content-wrapper
				.col-xs-12
					content(ng-view)